# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/
env/

# Databases
*.db
*.sqlite

# Local Environment / Credentials
.env
.env.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
desktop.ini

# App data / uploads
storage/
logs/
*.log
